$purple: #755CDE;
$yellow: #F6A560;
$pink: #F39E9E;
$light-red: #EB7565;
$cyan: #61C4B7;
$dark-purple: #552049;
$black: #030303;
$gray: #7A746E;
$beige: #F5F5F5;
$white: #fff;
$dark-black: #000000;
$light-brown:#FFF7F0;